.image-gradient-dynamic {
  $image-gradient-color-top: black; 
  $transparency-top: .85;
  $image-gradient-color-bottom: black; 
  $transparency-bottom: .85;
  $vertical-angle: 180deg;

  $image-gradient-color-left: black; 
  $transparency-left: .85;
  $image-gradient-color-right: black; 
  $transparency-right: .85;
  $horizontal-angle: 90deg;

  position: relative;
  line-height: 0;
  width: 100%;


  img {
    width: 100%;
    height: 650px;
  }

  .copy {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    margin: auto;
    z-index: 999;
    text-align: center;
    @include transform(translate(-50%, -50%));

    .big-ass-value-prop {
      position: relative;
      color: white;
      font-size: 4em;
      width: 100%;
      height: 10%;
    }

    a img {
      position: absolute;
      height: 70px;
      width: auto;
      left: 46%;
      margin: 10px;
      margin-top: 25px;
    }

    #next_cleaning {
      left: 27.5%;
      width: 45%;
      line-height: 1.5em;
      padding: 0.1em;
      position: relative;
      color: white;
      font-weight: 800;
      background-color: transparentize(black, .6);
      font-size: 1.7em;

      p {
        margin-bottom: 0em;
      }

      #signup {
        font-size: 0.5em;
        margin-top: 1em;
        position:relative;
        top: 10%;
      }
    }
  }

  .overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top), 
      transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);

    &:after {
      content: '';
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left), 
        transparentize($image-gradient-color-right, $transparency-right));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);
    }
  }

  header.address_search {
    box-sizing: border-box;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 1.5em;
    padding: .2em 2em;
    position: relative;
    color: white;
    font-weight: 800;
    height: 10%;
    width: 50%;
    margin: auto;

    #nav_head {
      position: relative;
      left: 0;
      width: 70%;
      margin: auto;
    } 

    #address {
      padding-right: 2em;
      font-size: 1.1em;
      width: 100%;
    }

    .navigation {
      background-color: rgba(0, 0, 0, 0);
      width: 70%;
      left: 10%;
      position: absolute;

      .search-bar {
        width: 100%;
        margin: 1em;
        margin-left: 8.5em;
      }

      .search-and-submit {
        position: absolute;
        width: 100%;
        margin-top: 1em;
      }
    }

    img {
      float: right;
      width: auto;
      height: 15px;
      margin: 0 auto;
    }
  }
}

#signup {
  width: 100%;
  height: 100%;
  position: absolute;
  line-height: 1.5;
  top: 50%;
}

#bottom {
  margin-top: 1em;
  margin: 0 auto;

  #next_days {
    clear: both;
    max-width: 900px;
    margin: auto;
    padding-top: 2em;
    text-align: center;


    #monthly_schedule {
      margin: 2em auto;
      padding-top: 2em;
      text-align: center;
      border-top: 1px solid black;

      span {
        font-weight: bold;
        font-size: 1.5em;
      }

      table {
        width: 100px;
        display: inline-block;
        vertical-align: top;
        margin: 1em;
      }

      td, th {
        text-align: center;
        line-height: 1em;
      }
    }
  }
}

#or {
  margin: 1.5em 1em 0.8em 1em;
  font-weight: bold;
  font-size: 1.5em;
}