<div class="container signup">
  <ul>
    <li>
      <h3 id = 'signup_k3'>Sign Up for an Account</h3>
      <p id = 'manage'><em>to manage all your notifications</em></p>
      <form action=<%= user_registration_path %> method='post' id = 'register'>
        <input name="authenticity_token" value=<%= form_authenticity_token %> type="hidden">
        <div class="form-group">
          <input type="text" name="user[firstname]" class = 'form-control' required>
          <label for="" placeholder="Your First Name" alt="First Name"></label>
        </div>
        <div class="form-group">
          <input type="text" name="user[lastname]" class = 'form-control' alt="Last Name"required>
          <label for="" placeholder="Your Last Name" alt="Last Name"></label>
        </div>
        <div class="form-group">
          <input type="Email" name="user[email]" class = 'form-control' required>
          <label for="" placeholder="Your Email Address" alt="Email"></label>
        </div>
        <div class="form-group">
          <input type="password" name="user[password]" class = 'form-control' required>
          <label for="" placeholder="Your Password" alt="Password"></label>
        </div>
        <div class="form-group">
          <input type="password" name="user[password_confirmation]" class = 'form-control' required>
          <label for="" placeholder="Confirm Your Password" alt="Confirm Password"></label>
        </div>
        <div class="form-group">
          <input type="submit" value="Sign Up" class = 'button right'>
        </div>
      </form>
    </li>
    <li>
      <h3 id="or">OR</h3>
    </li>
    <li>
      <h3 id = 'signup_k3'>Sign Up for Notifications</h3>
      <p id = 'manage'><em>to receive email and/or text message alerts</em></p>
      <form action=<%= notifications_path %> method='post' id = "email_notes">
        <input name="authenticity_token" value=<%= form_authenticity_token %> type="hidden">
        <div class="form-group">
          <input type="Email" name="notification[email]" class = 'form-control1'required >
          <label for="" placeholder="Your Email Address" alt="Email"></label>
        </div>
        <div class="form-group">
          <input type="text" name="notification[phone]" class = 'form-control' required>
          <label for="" placeholder="Your Phone Number" alt="Phone Number"></label>
        </div>
        <div class="form-group">
          <input type="submit" value="Sign Up" class = 'button right'>
        </div>
      </form>
    </li>
  </ul>
</div>