
<!-- Note, everything here can be erased.  It is a test -->
<h1>Users:</h1>

<%@users.each do |user|%>
<p><%=user.email%></p>
<%end%>

<h1>Regions:</h1>

<%@regions.each do |region|%>
<p><%=region%></p>
<%end%>
