.cleaning_col {
	width: 30%;
	float: right;
	height: 600px;
	padding-right: 2%;
	padding-left: 2%;
}

#next {
	text-align: justify;
	padding-bottom: 4%;
	border-bottom: 2px solid;
}

#future {
	overflow-y:scroll;
	text-align: justify;
	height: 400px;
}

#lower_address {
	background: white;
}

#lower-search-div {
	padding: 0 0 1em 0;
}

