#active_map {
  @include size(100% 600px);
  @include position(relative auto);
  margin: 0;
  padding-right: 10px;
  float: left;
  margin-top: 0em;
  height: 550px;
}

.legend {
  line-height: 18px;
  color: #555;
  background-color: white;
  padding: 1em;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#next h3:first-child {
  margin: 0px;
}

#personal_map {
  @include size(100% 600px);
  @include position(relative auto);
  margin: 0;
  padding-right: 10px;
  float: left;
  margin-top: 0em;
  height: 550px;
}