<br>
<div id="map" class="map"></div>
<br>

<script>
  $(document).ready(function() {
    var map = L.map('map').setView([41.86296, -87.62506], 13);
    L.tileLayer('http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>', id: 'examples.map-i86knfo3'}).addTo(map);
    <% if swept_soon %>
      region = <%= region.html_safe %>;
      draw_red(region, map);
    <% else %>
      region = <%= region.html_safe %>;
      draw_green(region, map);
    <% end %>

    map.on('click', function(e) {
      if(typeof(marker)==='undefined') {
        marker = L.marker(e.latlng,{ draggable: true});
        marker.addTo(map);        
      } else {
        marker.setLatLng(e.latlng);         
      }});
  });
</script>