<div id="map_script">
<script>
  $(document).ready(function() {
    var placeholder = [];
    <% regions[0].each do |region| %>
      region = <%= region.html_safe %>;
      placeholder.push(draw_red(region));
    <% end %>
    <% regions[1].each do |region| %>
      region = <%= region.html_safe %>;
      placeholder.push(draw_green(region));
    <% end %>

    var marker = L.marker([<%= lat %>, <%= long %>])
    everything = L.layerGroup([marker].concat.apply([marker], placeholder));
    everything.addTo(active_map);

    watchForClick(marker);
  });
</script>
</div>