<%= render 'refills/navigation'%>
<%= render 'refills/grad'%>
<div id='bottom'>
  <div id="active_map" class="active_map"></div>

  <div class='cleaning_col'>
     <header class="address_search">
        <header class="navigation">
          <div class="search-bar" id = "lower-search-div" style = 'width: 100%'>
            <div class="search-and-submit">
              <input id = "lower_address" type="search" placeholder="Enter New Street Address" />
              <button id = "lower_address_submit" type="submit">
                <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
              </button>
            </div>
          </div>
        </header>
      </header>

    <div id = 'next'>
    </div>
    <div id = 'future'>
    </div>
  </div>
  <script>
    active_map = L.map('active_map').setMaxBounds([[41.644286, -87.940101], [42.023135, -87.523661]]);
    var legend = L.control({position: 'bottomright'});
    addLegend(active_map)
    L.tileLayer('http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>', id: 'examples.map-i86knfo3'}).addTo(active_map);
    $(document).ready(function() {
      locate(active_map);
    });
  </script>
  <%= render 'refills/footer2' %>
</div>

