<%= render 'refills/grad'%>
<div id="active_map" class="active_map"></div>
<div class='cleaning_col'>
</div>
<script>
  active_map = L.map('active_map').setView([41.86296, -87.62506], 13);
</script>
<%= render 'refills/footer2' %>
