<p>This is your IP address: </p>
<p><%=@client_ip%></p>

<p>Did we find your location? </p>
<p><%=@%></p>

<p>This is your lattitude: </p>
<p><%=@lat%></p>

<p>This is your longitude: </p>
<p><%=@long%></p>