
<div id='bottom'>
  <main role = "main" class = "row">
    <article class = "col span_8 clr">
  <div id="active_map" class="active_map"></div>
</article>

<aside role="complementary" class = "col span_4 clr">
  <div class='cleaning_col'>
     

    <div id = 'next'>
      <p></p>
      <div class = "modal" id = "modal3_div">
        <label for="modal-3" id = "modal3_label">
          <div class="btn js-btn">
            Get Notifications for This Location
          </div>
        </label>
      </div>
    </div>
    <div id = 'future'>
    </div>
  </div>
</aside>
  <script>
    active_map = L.map('active_map').setView([41.86296, -87.62506], 13).setMaxBounds([[41.644286, -87.940101], [42.023135, -87.523661]]);
    var legend = L.control({position: 'bottomright'});

    addLegend(active_map)
    L.tileLayer('http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>', id: 'examples.map-i86knfo3'}).addTo(active_map);
    $(document).ready(function() {
      locate(active_map);
    });
  </script>
  <%= render 'refills/footer2' %>
</div>

