<%= render 'refills/navigation'%>

<div id='bottom'>
  <main role = "main" class = "row">
    <article class = "col span_8 clr">
      <div id="active_map" class="active_map"></div>
    </article>

    <aside role="complementary" class = "col span_4 clr">
      <div class='cleaning_col'>
        <div class = 'next'>
          <p></p>
          <div class = "notify_exp"></div>
          <div class = "modal modal3_div">
            <label for="modal-3" class = "modal3_label">
              <div class="button">
                Notify Me
              </div>
            </label>
          </div>
        </div>     
      </div>
    </aside>
  <script>
    active_map = L.map('active_map').setMaxBounds([[41.644286, -87.940101], [42.023135, -87.523661]]).setView([41.8893288, -87.63722539999999], 13);
    var legend = L.control({position: 'bottomright'});
    addLegend(active_map)
    L.tileLayer('http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>', id: 'examples.map-i86knfo3'}).addTo(active_map);
    $(document).ready(function() {

      $(".modal3_div").hide();
      locateUser(active_map);
    });
  </script>

  
    <div class = "next_days">
      <h3>Search by Date</h3>
      <p>Going on vacation? See the street sweeping schedule for a custom date range <a href="/date_range">here</a>.</p>


      
      <div class = "monthly_schedule">

      </div>
       

    </div>

</div>

<%= render 'refills/footer2' %>

<div id = "mobile">
  <div class = 'next'>
    <p></p>
    <div class = "notify_exp"></div>
    <div class = "modal modal3_div">
      <label for="modal-3" class = 'modal3_label'>
        <div class="button">
          Notify Me
        </div>
      </label>
    </div>
  </div>

  <div class = "next_days">
    <h3>Search by Date</h3>
    <p>Going on vacation? See when street sweeping will be for a custom date range <a href="/date_range">here</a>.</p>
  
    <div class = "monthly_schedule">
    </div>
  </div>
</div>
