<%= render 'refills/navigation'%>

<div id='bottom'>
  <main role = "main" class = "row">
    <article class = "col span_8 clr">
  <div id="active_map" class="active_map"></div>
</article>

<aside role="complementary" class = "col span_4 clr">
  <div class='cleaning_col'>
    <div id = 'next'>
      <p></p>
       <div id = "notify_exp"></div>
      <div class = "modal" id = "modal3_div">
        <label for="modal-3" id = "modal3_label">
          <div class="button">
            Notify Me
          </div>
        </label>
      </div>
    </div>

    
  </div>
</aside>
  <script>
    active_map = L.map('active_map').setMaxBounds([[41.644286, -87.940101], [42.023135, -87.523661]]);
    var legend = L.control({position: 'bottomright'});
    addLegend(active_map)
    L.tileLayer('http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>', id: 'examples.map-i86knfo3'}).addTo(active_map);
    $(document).ready(function() {

      $("#modal3_div").hide();
      locateUser(active_map);
    });
  </script>

  
    <div  id = "next_days">
      <h3>Search by Date</h3>
      <p>Going on vacation? See when street sweeping will be for a custom date range <a href="/date_range">here</a>.</p>


      
      <div id = "monthly_schedule">
      <h3>Street Cleaning Schedule for the Rest of 2014</h3>
      <p>This month, streets will be swept for your current location on the 8th, 9th, 17th, and 18th.</p>

        <table>
          <tr><th>July</th></tr>
          <tr><td>8th</td></tr>
          <tr><td>9th</td></tr>
          <tr><td>17th</td></tr>
          <tr><td>18th</td></tr>
        </table>
      
        <table>
          <tr><th>August</th></tr>
          <tr><td>3rd</td></tr>
          <tr><td>4th</td></tr>
          <tr><td>21st</td></tr>
          <tr><td>22nd</td></tr>
        </table>

        <table>
          <tr><th>September</th></tr>
          <tr><td>3rd</td></tr>
          <tr><td>4th</td></tr>
          <tr><td>21st</td></tr>
          <tr><td>22nd</td></tr>
        </table>

        <table>
          <tr><th>October</th></tr>
          <tr><td>3rd</td></tr>
          <tr><td>4th</td></tr>
        </table>

        <table>
          <tr><th>November</th></tr>
          <tr><td>3rd</td></tr>
          <tr><td>4th</td></tr>
        </table>
      </div>
       

    </div>

</div>

<%= render 'refills/footer2' %>
