<div id='bottom'>
  <main role = "main" class = "row">
    <article class = "col span_8 clr">
      <div id="active_map" class="active_map"></div>
    </article>
    
    <aside role="complementary" class = "col span_4 clr">
      <div class='cleaning_col'>
        <header role = "banner" class = "row">

          <nav role="navigation" class = "row">
            <header class="navigation">
              <div class="lower-menu">
                <p><em>Everything you need to know about street sweeping in Chicago.</em></p>
              <div class = 'right-col'>
        <% unless current_user %>
          <a href="javascript:void(0)" class="login">
          <div class="modal">
            <label for="modal-1">
              <div class="btn js-btn">Log In</div>
            </label>
            <input class="modal-state" id="modal-1" type="checkbox" />
            <div class="modal-window">
              <div class="modal-inner">
                <label class="modal-close" for="modal-1"></label>
                <%= render 'users/login' %>
              </div>
            </div>
          </div>
        </a>
        <% else %>       
          <%= link_to "Profile", user_path(current_user), :class => 'nav_button' %>
      
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class => 'nav_button' %>
        <% end %>
      </div>  
              </div>
            </header>
          </nav>

        </header>


    <div id = 'next'>
      <p></p>
      <div class = "modal" id = "modal3_div">
        <label for="modal-3" id = "modal3_label">
          <div class="checkout-price">
            Notify Me
          </div>
        </label>
      </div>
    </div>
    <header class = 'navigation'>
     <div class="search-bar">
        <div class="search-and-submit">
          <input id = "lower_address" type="search" placeholder="Enter New Street Address" />
          <button id = "lower_address_submit" type="submit">
            <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
          </button>
        </div>
      </div>
    </header>

  </div>
</aside>
  <script>
    active_map = L.map('active_map').setMaxBounds([[41.644286, -87.940101], [42.023135, -87.523661]]);
    var legend = L.control({position: 'bottomright'});
    addLegend(active_map)
    L.tileLayer('http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>', id: 'examples.map-i86knfo3'}).addTo(active_map);
    $(document).ready(function() {
      $("#modal3_div").hide();
      locate(active_map);
    });
  </script>
    <div style = "clear: both;">
      <br>
      <h3>Street Cleaning Days</h3>
      <table>
        <thead>
          <tr>
            <td>April</td>
            <td>May</td>
            <td>June</td>
            <td>July</td>
            <td>August</td>
            <td>September</td>
            <td>October</td>
            <td>November</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5, 6</td>
            <td>none</td>
            <td>17, 18</td>
            <td>none</td>
            <td>none</td>
            <td>none</td>
            <td>none</td>
            <td>none</td>
          </tr>
        </tbody>
      </table>
    </div>

</div>

<%= render 'refills/footer2' %>
