<footer class="footer-2">
  <div class="footer-logo">
    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
  </div>

    <div class="footer-secondary-links">
      <ul>
        <li style="color: #fff">Stay up to date on street sweeping in your area.</li>
      </ul>
    </div>
</footer>

<div class="modal" id = "modal-3-container">
  <input class="modal-state" id="modal-3" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner-signup">
      <label class="modal-close" for="modal-3"></label>
     <%= render 'users/signup'%>
    </div>
  </div>
</div>