<footer class="footer-2">
  <div class="footer-logo">
    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
  </div>
    <ul>
      
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Stay up to date on street sweeping in your area.</a></li>
      <li><button href="javascript:void(0)">Get notifications</button></li>
      </ul>
    </div>
</footer>
