<div class="image-gradient-dynamic">
  <!-- <img src="http://parkitnyc.com/wp-content/uploads/2011/11/Image-NYC-Parking-Ticket-on-Car-3.jpg" alt=""> -->
  <img src="" alt="">
  <div class="copy">
  	<h1 class='big-ass-value-prop'>LIVE TICKET FREE!</h1>
    <div id = "next_cleaning">
      <p>
  	    The next street cleaning<br>
  	    for your location is:<br>
  	    _____________________
  		</p>
      <div id='signup' class="modal">
      <label for="modal-2">
        <div class="btn js-btn">Get Notifications for This Location</div>
      </label>
    </div>
    </div>
		
    <header class="address_search">
	    <header id="nav_head" class="navigation">
	      <div class="search-bar">
	        <div class="search-and-submit">
	          <input id = "address" type="search" placeholder="Enter Street Address" />
	          <button id = "address_submit" type="submit">
	            <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
	          </button>
	    		</div>
	  		</div>
	  	</header>
		</header>
		 <a href="#move"><img src='http://i.minus.com/iYSsHan6HyRHu.png'></a>
	</div>
	<div class="overlay"></div>
</div>

<div class="modal">
  <input class="modal-state" id="modal-2" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner-signup">
      <label class="modal-close" for="modal-2"></label>
     <%= render 'users/signup'%>
    </div>
  </div>
</div>