<div class="image-gradient-dynamic">
  <img src="http://parkitnyc.com/wp-content/uploads/2011/11/Image-NYC-Parking-Ticket-on-Car-3.jpg" alt="">
  <div class="copy">
  	<h1 class='big-ass-value-prop'>LIVE TICKET FREE!</h1>
    <p>The next street cleaning<br>
    for your location is:<br>
    _____________________</p>
    <header class="address_search">
	    <header class="navigation">
	      <div class="search-bar">
	        <div class="search-and-submit">
	          <input id = "address" type="search" placeholder="Enter Your Address" />
	          <button id = "address_submit" type="submit">
	            <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
	          </button>
	    		</div>
	  		</div>
	  	</header>
		</header>
		<div id='signup' class="modal">
			<label for="modal-2">
	      <div class="btn js-btn">Sign Up</div>
	    </label>
		</div>
		 <a href="#move"><img src='http://i.minus.com/iYSsHan6HyRHu.png'></a>
	</div>
	<div class="overlay"></div>
</div>

<div class="modal">
  <input class="modal-state" id="modal-2" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner-signup">
      <label class="modal-close" for="modal-2"></label>
     <%= render 'users/signup'%>
    </div>
  </div>
</div>