<div class="image-gradient-dynamic">
  <img src="http://i.minus.com/iboiPC4zrfyPuO.png" alt="">
  <div class="copy">
    <p>The Next Street Cleaning<br>
    	For Your Location Is:<br>
    	_____________________</p>
    	<header class="address_search">
    		<header class="navigation">
		      <div class="search-bar">
		        <div class="search-and-submit">
		          <input type="search" placeholder="Enter Your Address" />
		          <button type="submit">
		            <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
		          </button>
				    </div>
			    </div>
			  </header>
			 </header>
    	<p>Sign Up OR Click to Start!</p>
  </div>
  <div class="overlay"></div>
</div>
