<header role = "banner" class = "row" style = "margin-top: -2.5%">
  <nav role="navigation" class = "row">
    <header class="navigation" id = "first">
      <div class="menu-wrapper"> 
        <div class="navigation-tools">
          <div class = 'left-col'><a href="/"><%= image_tag('sweep.png', id: 'sweep') %></a></div>
          <div class="search-bar">
            <div class="search-and-submit">
              <% unless  @profile_page %>
                <input id = "lower_address" type="search" placeholder="Enter Street Address" />
                <button id = "lower_address_submit" type="submit">
                  <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
                </button>
              <% else %>
                <h2 id="profile_title">Your Profile Page</h2>
              <% end %>
        </div>

      </div>
      <div class = 'right-col'>
        <% unless current_user %>
          <a href="javascript:void(0)" class="login">
          <div class="modal">
            <label for="modal-1">
              <div id = "login_link" style = 'color: white'>Log In</div>
            </label>
            <input class="modal-state" id="modal-1" type="checkbox" />
            <div class="modal-window">
              <div class="modal-inner">
                <label class="modal-close" for="modal-1"></label>
                <%= render 'users/login' %>
              </div>
            </div>
          </div>
        </a>
        <% else %>       
          <%= link_to "Profile", user_path(current_user), :class => 'nav_button' %>
      
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class => 'nav_button' %>
        <% end %>
      </div>
      </div>    
    </header>
  </nav>
</header>

<header role = "banner" class = "row" style = 'height: 50px'>

<nav role="navigation" class = "row">
  <header class="navigation">
    <div class="lower-menu">
    <div class = 'left-col'></div>
      <p><em>Everything you need to know about street sweeping in Chicago.</em></p>
    <div class = 'right-col'></div>
    </div>
  </header>
</nav>

</header>