<header class="navigation">
  <div class="menu-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    </a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="/">Don't Park There CHI (2014)</a></li>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          
        </div>
      </div>
      <% unless current_user %>
      <a href="javascript:void(0)" class="login">
        <div class="modal">
          <label for="modal-1">
            <div class="btn js-btn" id='login_button'>Log In</div>
          </label>
          <input class="modal-state" id="modal-1" type="checkbox" />
          <div class="modal-window">
            <div class="modal-inner">
              <label class="modal-close" for="modal-1"></label>
              <%= render 'users/login'%>
            </div>
          </div> 
        </div>
      </a>
      <% else %>
      <a href="javascript:void(0)" class="login">
        <div class="btn js-btn">
        <%= link_to "Log Out", destroy_user_session_path, :method => :delete %></div>
        </a>
      <% end %>
    </div>
  </div>
</header>